<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://121.199.62.75/www.vhua.com/data/fruityRobo_v2.2_s1.1.3_WH0S0N10201-resigned22.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.yeshan.blue</string>
				<key>bundle-version</key>
				<string>1.1</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>果宝三国</string>
				<key>title</key>
				<string>果宝三国</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
