<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://ourpeach.com/app/%E6%91%A9%E5%B0%94%E6%88%B4%E5%85%8B.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.rsqd.rsqdapp</string>
				<key>bundle-version</key>
				<string>1.1</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>摩尔戴克</string>
				<key>title</key>
				<string>摩尔戴克</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
